* {
    box-sizing: border-box;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color:lightsteelblue;
    font-family: sans-serif;
}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
    list-style-type: none;
    list-style-position: inside;
}

.header {
    text-align: center;
    background-color: lightslategray;
    font-size: larger;
}

.clock {
    font-size: xx-large;
    font-family: monospace;
}

.bio {
    padding-top: 30px;
}

.section-element {
    font: inherit;
    text-align: center;
    background-color: ivory;
    padding: 20px;
}

@media all and (min-width: 768px) {
    .item { flex: 1 auto; }
    .clock { flex: 50%;}
    .bio { flex: 50%; }
  }