{% extends "app_layout.html" %}
{% block title %}
Main menu
{% endblock title %}
{% block body %}
<div>
    <div class="row">
        <div class="flex-container">
            {% if 'group_name' in session %}
            <h2>Welcome back, {{ session['name'] }}! You are currently logged in as {{ session['group_name'] }}</h2>
            <ul id="request-links">
                <li>
                    <p>Click <a href="{{ url_for('get_hospital_menu') }}">here</a> to go to hospital menu</p>
                </li>
            </ul>
            <div class="flex-conainter">
                <p><a href="{{ url_for('exit_page') }}">Exit</a> site and clear session</p>
            </div>
            {% else %}
            <h2>You are using the site as a guest. <a href="{{ url_for('auth_bp.login') }}">Log in?</a></h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}