{% extends "menu.j2" %}

{% block title %}
Главное меню
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if 'group_name' in session %}
            <div class="alert alert-success">
                <p style="font-size: 100px;">🏥</p>
                <h1>Добро пожаловать, {{ session['name'] }}!</h1>
                <h2>Ваша группа - {{ session['group_name'] }}</h2>
            </div>
            {% else %}
            <div class="alert alert-warning">
                <p style="font-size: 100px;">🏥</p>
                <h1>Дорогой гость, вы не представились системе!</h1>
                <h2>Войдите в вашу учетную запись на странице авторизации</h2>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <p class="fs-5">
                Информационная система "Госпиталь" 
                была создана для цифровизации и автоматизации 
                управления госпиталем.
            </p>
            <p class="fs-5">
                Пользователями системы являются работники госпиталя: врачи и регистраторы. 
                Врачи осуществляют медицинские процедуры, обследования и постановку диагноза. 
                Работники регистратуры производят операции с пациентами: вносят данные о них в систему, 
                распределяют по отделениям и выписывают здоровых пациентов из госпиталя.
            </p>
        </div>
    </div>
</div>
{% endblock content %}