{% extends "menu.j2" %}

{% block title %}
Main menu
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">
            <p style="font-size: 100px;">🏥</p>
            {% if 'group_name' in session %}
            <h1>Добро пожаловать, {{ session['name'] }}!</h1>
            <h2>Ваша группа - {{ session['group_name'] }}</h2>
            {% else %}
            <h1>Дорогой гость, вы не представились системе!</h1>
            <h2>Войдите в вашу учетную запись на странице авторизации</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}