{% extends "menu.j2" %}

{% block title %}
Сеанс завершен
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 alert alert-success">
            <p style="font-size: 100px;">🧹</p>
            <h1>Благодарим на использование нашего сервиса!</h1>
            <p>Сессия будет очищена</p>
            <p>See you space cowboy</p>
        </div>
    </div>
</div>
{% endblock %}
