{% extends 'base.j2' %}

{% macro navlink(endpoint, text) %}
{% if request.endpoint.endswith(endpoint) %}
<th style="text-align: center; background-color: gainsboro;">
    <a href="{{ url_for(endpoint) }}">{{ text }}</a>
</th>
{% else %}
<th style="text-align: center;">
    <a href="{{ url_for(endpoint) }}">{{ text }}</a>
</th>
{% endif %}
{% endmacro %}

{% macro loginshield() %}
{% if 'id' in session %}

<th style="text-align: center;">
    <th><strong>✔️</strong> {{ session.name }}</th>
    {{ navlink('exit_page', 'Выйти') }}
</th>
{% else %}
    <th>Гость</th>
    {{ navlink('auth_bp.login', 'Войти') }}
{% endif %}
{% endmacro %}

{%block title%}
Меню
{%endblock%}

{%block styles%}
    {{ super() }}
    <link href="{{ url_for('hospital_bp.static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('hospital_bp.static', filename='css/table.css') }}" rel="stylesheet">
{%endblock%}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
{%endblock%}

{%block body%}
<div class="container">
    <div class="row">
            <table class="table table-borderless" style="margin-bottom: 30px;">
                <thead>
                    <tr>
                        {{ navlink('main_menu', 'Главное Меню') }}
                        {{ navlink('hospital_bp.menu', 'Врачу') }}
                        {{ navlink('patients_bp.menu', 'Регистратору') }}
                        {{ loginshield() }}
                    </tr>
                </thead>
            </table>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        {% block navbar %}
                        {%endblock%}
                    </tr>
                </thead>
            </table>      
    </div>
</div>
    {% block content %}
    {% endblock %}
{%endblock%}
