<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1"> 
        <title>User page</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
        <link href="{{ url_for('user_bp.static', filename='css/home.css') }}" rel="stylesheet">
        <!-- <script src="{{ url_for('user_bp.static', filename='js/clock.js') }}"></script> -->
    </head>
    <body>
        <div class="flex-container">
            <header class="header">
                <h1>
                    {% if username %}
                    Welcome back, {{ username }}
                    {% else %}
                    Hi there, stranger
                    {% endif %}
                </h1>
            </header>
            <div class="section-element">
                <form action="{{ url_for('user_bp.post_auth') }}" method="post">
                    <input type="text" name="patient_limit" placeholder="Write patient limit">
                    <input type="submit" name="submit_button" placeholder="Submeet">
                </form>
            </div>
            <aside class="item clock">
                <p id="clock"></p>
            </aside>
            <aside class="item bio">
                This is some kind of a description <br> Hope there will be columns eventually
            </aside>
            <div class="section-element">
                {% block db %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>