<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1">
    <title>Search orders</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
    <link href="{{ url_for('user_bp.static', filename='css/home.css') }}" rel="stylesheet">
</head>

<body>
    <div class="section-element">
        <div class="flex-container">
            <aside class="item" id="search-courses">
                <form action="{{ url_for('user_bp.post_request_orders') }}" method="post">
                    <input type="number" name="threshold" placeholder="Filter by price" min="0" max="10000">
                    <input type="submit" placeholder="Search">
                </form>
            </aside>
            <aside class="item bio">
                Filter orders by total price of selected services
            </aside>
        </div>
    </div>
</body>

</html>