{% extends "app_layout.html" %}
{% block title %}
Page not found
{% endblock %}
{% block body %}
<div class="flex-container">
    <h1>Page you are looking for does not exist</h1>
    <p>What you are looking for is not there anymore</p>
    <a href="{{ url_for('welcome_page') }}">Warp to the main menu</a>
</div>
{% endblock %}
