{% extends "app_layout.html" %}
{% block title %}
Main menu
{% endblock title %}
{% block body %}
<div class="flex-container">
    {% if 'group_name' in session %}
    <h2>Welcome back! You are currently logged in as {{ session['group_name'] }}</h2>
    <p style="text-align: center; font-style: italic;"> There are two sections avaliable currently:</p>
    <ul id="request-links">
        <li>
            <p>Click <a href="{{ url_for('get_courses_menu') }}">here</a> to go to courses menu</p>
        </li>
        <li>
            <p>Click <a href="{{ url_for('get_hospital_menu') }}">here</a> to go to hospital menu</p>
        </li>
    </ul>
    <div class="flex-conainter">
        <p><a href="{{ url_for('get_exit_page') }}">Exit</a> site and clear session</p>
    </div>
    {% else %}
    <h2>You are using the site as a guest. <a href="{{ url_for('auth_bp.login') }}">Log in?</a></h2>
    {% endif %}
</div>
{% endblock body %}