{% extends "app_layout.html" %}
{% block title %}
Courses menu
{% endblock title %}
{% block styles %}
        <link href="{{ url_for('courses_bp.static', filename='css/home.css') }}" rel="stylesheet">
        <link href="{{ url_for('courses_bp.static', filename='css/table.css') }}" rel="stylesheet">
{% endblock styles %}
{% block icon %}
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
{% endblock icon %}
{% block body %}
    <div class="flex-container">
        <h1 style="text-align: center; font-family: sans-serif;">Welcome to the language courses section</h1>
        <p><a href="{{ url_for('courses_bp.get_courses_menu') }}" class="link">Go to courses queries</a></p>
        <p><a href="{{ url_for('get_welcome_page') }}" class="link">Go to main menu</a></p>
    </div>
{% endblock body %}