{% extends 'menu.j2' %}

{%block title%}
Hospital
{%endblock%}

{%block styles%}
    {{ super() }}
    <link href="{{ url_for('hospital_bp.static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('hospital_bp.static', filename='css/table.css') }}" rel="stylesheet">
{%endblock%}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('hospital_bp.static', filename='img/icon.png') }}">
{%endblock%}

{%block content%}

<div class="container" id="body">
    <div class="row">
        <div class="col-md 12">
            <h1>All appointments for {{ session['name'] }}</h1>
            {% if appointments %}
            <table class="table">
                <thead>
                    <tr>
                        <th>&#8470;</th>
                        <th>ID</th>
                        <th>Date and Time</th>
                        <th>Patient</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th style="text-align: right;">Actions</th>
                        <th style="text-align: center;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for todo in appointments %}
                {% if todo['status_code'] == 0 %}
                    <tr class="alert alert-danger">
                        <td>{{todo['num']}}</td>
                        <td>{{todo['id']}}</td>
                        <td>{{todo['scheduled']}}</td>
                        <td>{{todo['patient']}}</td>
                        <td>{{todo['about']}}</td>
                        <td>{{todo['status']}}</td>
                        <td>
                            <form action="" method="post" style="text-align: justify">
                                <input type="hidden" name="appointment_id" value="{{todo['id']}}">
                                <input type="hidden" name="action" value="accept">
                                <input type="submit" value="Accept" style="background-color: gainsboro;">
                            </form>
                        </td>
                        <td>
                            <form action="" method="post" style="text-align: justify">
                                <input type="hidden" name="appointment_id" value="{{todo['id']}}">
                                <input type="hidden" name="action" value="reject">
                                <input type="submit" value="Reject" style="background-color: gainsboro;">
                            </form>
                        </td>
                    </tr>
                {% endif %}
                {% if todo['status_code'] == 1 %}
                    <tr class="alert alert-warning">
                        <td>{{todo['num']}}</td>
                        <td>{{todo['id']}}</td>
                        <td>{{todo['scheduled']}}</td>
                        <td>{{todo['patient']}}</td>
                        <td>{{todo['about']}}</td>
                        <td>{{todo['status']}}</td>
                        <td>
                            <form action="" method="post" style="text-align: justify">
                                <input type="hidden" name="appointment_id" value="{{todo['id']}}">
                                <input type="hidden" name="action" value="complete">
                                <input type="submit" value="Mark done" style="background-color: gainsboro;">
                            </form>
                        </td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if todo['status_code'] == 2 %}
                    <tr class="">
                        <td>{{todo['num']}}</td>
                        <td>{{todo['id']}}</td>
                        <td>{{todo['scheduled']}}</td>
                        <td>{{todo['patient']}}</td>
                        <td>{{todo['about']}}</td>
                        <td>{{todo['status']}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if todo['status_code'] == 3 %}
                    <tr class="alert alert-success">
                        <td>{{todo['num']}}</td>
                        <td>{{todo['id']}}</td>
                        <td>{{todo['scheduled']}}</td>
                        <td>{{todo['patient']}}</td>
                        <td>{{todo['about']}}</td>
                        <td>{{todo['status']}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if todo['status_code'] not in range(4) %}
                    <tr class="alert alert-danger">
                        <td>{{todo['num']}}</td>
                        <td>{{todo['id']}}</td>
                        <td>{{todo['scheduled']}}</td>
                        <td>{{todo['patient']}}</td>
                        <td>{{todo['about']}}</td>
                        <td>{{todo['status']}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-info">
                <strong>The list is empty!</strong><p>Come back later</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
