{% extends 'menu.j2' %}

{% block title %}
Отчет об отделениях
{% endblock title %}

{% block styles %}
    {{ super() }}
        <link href="{{ url_for('hospital_bp.static', filename='css/home.css') }}" rel="stylesheet">
        <link href="{{ url_for('hospital_bp.static', filename='css/table.css') }}" rel="stylesheet">
{% endblock styles %}

{% block icon %}
        <link rel="shortcut icon" type="image/png" href="{{ url_for('hospital_bp.static', filename='img/icon.png') }}">
{% endblock icon %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h1>Отделения</h1>
    </div>
    {% if departments %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <div class="form-group">                                
                                <select class="form-control" name="selected_department" style="text-align: center;">
                                {% for department in departments %}
                                {% if report and department['title'] == report['title']%}
                                <option value='{"title":"{{ department['title'] }}", "id":"{{ department['id'] }}"}' 
                                    class="form-control" selected="selected">{{ department['title'] }}</option>
                                {% else %}
                                <option value='{"title":"{{ department['title'] }}", "id":"{{ department['id'] }}"}'
                                    class="form-control">{{ department['title'] }}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="submit" class="form-control"  value="Выбрать" style="background-color: gainsboro;">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-6">
        {% if report %}
            <h3>{{ report['title'] }}. Заведующий отделением:{{ report['head'] }}</h3>
        {% else %}
            <p>Чтобы получить информацию о заведующем отделением и палатах, пожалуйста, выберите отделение в выпадающем списке</p>
        {% endif %}
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger">
            <strong>Произошла ошибка на сервере!</strong><p>Перезагрузите страницу или возвращайтесь позже...</p>
        </div>
    {% endif %}
    {% if report %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold;">
                            <td style="font-weight: bold;">&#8470;</td>
                            <td style="font-weight: bold;">Тип палаты</td>
                            <td style="font-weight: bold;">Общее число мест</td>
                            <td style="font-weight: bold;">Занято мест</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in report['chambers'] %}
                        <tr>
                            <td>{{ record['num'] }}</td>
                            <td>{{ record['class'] }}</td>
                            <td>{{ record['capacity'] }}</td>
                            <td>{{ record['occupied'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}