{% extends 'menu.j2' %}

{% block title %}
Ваши пациенты
{% endblock title %}

{% block styles %}
    {{ super() }}
        <link href="{{ url_for('hospital_bp.static', filename='css/home.css') }}" rel="stylesheet">
        <link href="{{ url_for('hospital_bp.static', filename='css/table.css') }}" rel="stylesheet">
{% endblock styles %}

{% block icon %}
        <link rel="shortcut icon" type="image/png" href="{{ url_for('hospital_bp.static', filename='img/icon.png') }}">
{% endblock icon %}

{% block content %}
<div class="container ">
    <div class="row">
    {% if 'name' not in session %}
        <div class="alert alert-danger">
            <strong>Похоже, на сервере произошла ошибка!</strong><p>Перезагрузите страницу или возвращайтесь позже.</p>
        </div>
    {% endif %}
    {% if assigned %}
        <div class="row">
            <h1>
                Ваши пациенты, {{ session.name }}
            </h1>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold;">
                            <td>&#8470;</td>
                            <td>ФИО</td>
                            <td>Диагноз</td>
                            <td>Дата рождения</td>
                            <td>&#8470; палаты</td>
                            <td>Дней в госпитале</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in assigned %}
                        <tr>
                            <td>{{ record['num'] }}</td>
                            <td>{{ record['name'] }}</td>
                            <td>{{ record['diagnosis'] }}</td>
                            <td>{{ record['date_birth'] }}</td>
                            <td>{{ record['chamber'] }}</td>
                            <td>{{ record['duration'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <strong>Нет прикрепленных пациентов!</strong>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</div>
{% endblock content %}