{% extends "app_layout.html" %}
{% block title %}
Assignation list
{% endblock title %}
{% block styles %}
    {{ super() }}
        <link href="{{ url_for('hospital_bp.static', filename='css/home.css') }}" rel="stylesheet">
        <link href="{{ url_for('hospital_bp.static', filename='css/table.css') }}" rel="stylesheet">
{% endblock styles %}
{% block icon %}
        <link rel="shortcut icon" type="image/png" href="{{ url_for('hospital_bp.static', filename='img/icon.png') }}">
{% endblock icon %}
{% block body %}
<div class="flex-container row">
    {% if has_options %}
    <h2>
        <strong>
            Select doctor to create a report:
        </strong>
    </h2>
    <div class="col-md-1">

    </div>
    <form class="form col-md-10" action="{{ url_for('hospital_bp.post_request_doctor_stats') }}" method="post">
        <div class="form-group">
            <select class="select-select form-control" name="doctor_selection">
        {% for doctor in doctors %}
                <option value="{{ doctor['id'] }}">{{ doctor['name'] }}</option>
        {% endfor %}
            </select>
            <input type="submit" class="form-control" placeholder="Create report">
        </div>
    </form>
    <div class="col-md-1">
        
    </div>
    {% else %}
        <div class="no-options">
            <p>Looks like there was an error on server! Refresh page or come back later...</p>
        </div>
    {% endif %}
    <div class="flex-container">
        <p>Return to <a href="{{ url_for('get_hospital_menu') }}">main page</a></p>
    </div>
</div>
{% endblock body %}