{% extends 'menu.j2' %}

{%block title%}
Госпиталь
{%endblock%}

{%block styles%}
    {{ super() }}
    <link href="{{ url_for('.static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/table.css') }}" rel="stylesheet">
{%endblock%}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='img/icon.png') }}">
{%endblock%}

{%block navbar %}
{{ navlink('hospital_bp.list_appointments', 'Задачи') }}
{{ navlink('hospital_bp.assignment_list', 'Пациенты') }}
{%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-info" style="margin-top: 30%;">
                <h1>Меню врачебного раздела</h1>
                <p>Выберите раздел для работы из меню выше</p>
                <p>
                    В этом разделе вы можете обнаружить список прикрепленных к вам пациентов
                    и их статус, а также текущий список задач. Вы можете производить приемы
                    и процедуры с пациентами, а результат записывать в соответствующем разделе.
                    <br>
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{%endblock%}