{% extends 'menu.j2' %}

{%block title%}
Госпиталь
{%endblock%}

{%block styles%}
    {{ super() }}
    <link href="{{ url_for('.static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/table.css') }}" rel="stylesheet">
{%endblock%}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='img/icon.png') }}">
{%endblock%}

{%block navbar %}
{{ navlink('hospital_bp.list_appointments', 'Задачи') }}
{{ navlink('hospital_bp.assignment_list', 'Пациенты') }}
{{ navlink('hospital_bp.department_report', 'Отделения') }}
{%endblock%}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <h1>Меню врачебного раздела</h1>
            <p>Выберите раздел для работы из меню выше</p>
        </div>
    </div>
</div>
{%endblock%}