.container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color:lightsteelblue;
    font-family: sans-serif;
}

.container > * {
    padding: 10px;
    flex: 1 100%;
    list-style-position: inside;
    list-style-type: none;
}

.header {
    text-align: center;
    background-color: lightslategray;
    font-size: larger;
}

.clock {
    font-size: xx-large;
    font-family: monospace;
}

.section-element {
    font: inherit;
    text-align: left;
    background-color: ivory;
    padding: 20px;
}

@media all and (min-width: 768px) {
    .aside { flex: 1 auto; }
    .main    { flex: 3 0px; }
    .clock { order: 1; }
    .bio { order: 2; }
    .footer  { order: 4; }
  }