{% extends "menu.j2" %}

{% block title %}
Недостаточно прав
{% endblock %}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/login.png') }}">
{%endblock%}

{% block content %}

<div class="container">
    <div class="alert alert-danger">
        <p style="font-size: 100px;">⚠️</p>
        <h1>У вас нет прав для просмотра данной страницы</h1>
        <h2>Нажмите <a href="{{ url_for('auth_bp.login') }}">здесь</a>, чтобы перейти на страницу авторизации</a></h2>
    </div>
</div>

{% endblock content %}
