{% extends "menu.j2" %}

{% block title %}
Permission denied
{% endblock %}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/login.png') }}">
{%endblock%}

{% block content %}

<div class="container">
    <div class="alert alert-danger">
        <h1>You do not have rights to see contents of this page</h1>
        <h2>Click <a href="{{ url_for('auth_bp.login') }}">here</a> to warp to the login page</a></h2>
    </div>
</div>

{% endblock content %}
