* {
    box-sizing: border-box;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color: #B7C4C4;
    font-family: sans-serif;
}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
    list-style-type: none;
    list-style-position: inside;
}

.header {
    text-align: center;
    background-color: #9F9FA5;
    font-size: larger;
}

#search-hospital input[type=text]:focus{
    border-width: 7px solid #555;
}

#search-hospital input[type=text]{
    width: 130px;
    transition: width 0.5s ease-in-out;
}

#search-hospital form{
    vertical-align: middle;
    background-color: #ddd;
    font-family: monospace;
    text-align: center;
}

#request-links ul{
    list-style-type: none;
}


.select-select select {
    display: none;
}

.section-element {
    font: inherit;
    text-align: center;
    background-color: #E4E8E8;
    padding: 20px;
}

@media all and (min-width: 768px) {
    .item { flex: 1 auto; }
    .clock { flex: 50%;}
    .bio { flex: 50%; }
  }