<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Flask App
        </title>
    </head>
    <body>
        <h1>
            Hello there!
        </h1>
        <div>
            This is home page, yet nothing interesting here
        </div>
        <ol>
            <li>One</li>
            <li>too</li>
            <li>3</li>
        </ol>
        <a href="https://w3schools.com">GOTO W3Schools</a>
        <img src="https://media.tenor.com/images/84e679ac27ee613c5a065d9232ba5ae6/tenor.gif">
    </body>
</html>