{% extends 'patient_menu.j2' %}

{% block title %}
Отчет об отделениях
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Отделения</h1>
    {% if departments %}
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" class="form-horizontal">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <div class="form-group">                                
                                <select class="form-control form-select" name="selected_department" style="text-align: center;">
                                {% for department in departments %}
                                {% if report and department['title'] == report['title']%}
                                <option value='{"title":"{{ department['title'] }}", "id":"{{ department['id'] }}"}' 
                                    class="form-control" selected="selected">{{ department['title'] }}</option>
                                {% else %}
                                <option value='{"title":"{{ department['title'] }}", "id":"{{ department['id'] }}"}'
                                    class="form-control">{{ department['title'] }}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="submit" class="form-control"  value="Выбрать" style="background-color: gainsboro;">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-8">
        {% if report %}
            <h3>{{ report['title'] }}. Заведующий отделением: {{ report['head'] }}</h3>
        {% else %}
            <p>Чтобы получить информацию о заведующем отделением и палатах,
                пожалуйста, выберите отделение в выпадающем списке.</p>
        {% endif %}
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger">
            <strong>Произошла ошибка на сервере!</strong><p>Перезагрузите страницу или возвращайтесь позже...</p>
        </div>
    {% endif %}
    {% if report %}
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold;">
                            <td>&#8470;</td>
                            <td>Тип палаты</td>
                            <td>Общее число мест</td>
                            <td>Занято мест</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for chamber in report['chambers'] %}
                        <tr>
                            <td>{{ chamber['num'] }}</td>
                            <td>{{ chamber['class'] }}</td>
                            <td>{{ chamber['capacity'] }}</td>
                            <td>{{ chamber['occupied'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr style="font-weight: bold;">
                            <td>&#8470;</td>
                            <td>ФИО врача</td>
                            <td>Прикреплено пациентов</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doctor in report['doctors'] %}
                        <tr>
                            <td>{{ doctor['num']}}</td>
                            <td>{{ doctor['name']}}</td>
                            <td>{{ doctor['assigned']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </teble>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}