{% extends 'patient_menu.j2' %}

{%block content%}

<div class="container" id="body">
    <div class="row">
        <div class="col-md 12">
            {% if patients %}
            <h1>Не распределенные пациенты</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>&#8470;</th>
                        <th>ФИО</th>
                        <th>Дата рождения</th>
                        <th>Город</th>
                        <th>Дата обращения</th>
                        <th>Симптомы, жалобы</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{patient['num']}}</td>
                        <td>{{patient['name']}}</td>
                        <td>{{patient['birth_date']}}</td>
                        <td>{{patient['city']}}</td>
                        <td>{{patient['income_date']}}</td>
                        <td>{{patient['income_diag']}}</td>
                        <td>
                            <form class="form" action="" method="post">
                                <input type="hidden" name="patient_id" value="{{patient['id']}}">
                                <input class="form-control" type="submit" value="Выбрать отделение" style="background-color: gainsboro;">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% if has_departments and detailed_patient_data %}
            <h1>Определить в отделение</h1>
            <table class="table table-borderless">
                <thead>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>Город</th>
                    <th>Симптомы, жалобы</th>
                    <th>Ожидает распределения</th>
                </thead>
                <tr>
                    <td>{{detailed_patient_data['name']}}</td>
                    <td>{{detailed_patient_data['birth_date']}}</td>
                    <td>{{detailed_patient_data['city']}}</td>
                    <td>{{detailed_patient_data['income_diag']}}</td>
                    <td>{{detailed_patient_data['awaiting']}}</td>
                </tr>
            </table>
            {% if departments %}
            <form method="post" action="{{ url_for('.assign_to_department')}}" class="form">
                <table style="width: 100%; align-items: center">
                    <tr>
                        <td>
                            <select class="form-control" name="department_id" id="department">
                            {% for department in departments %}
                                <option value="{{ department['id'] }}">{{ department['title'] }}</option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="hidden" class="form-control" name="patient_id" value="{{ detailed_patient_data['id'] }}">
                            <input type="submit" class="form-control" id="submit" value="Определить" style="background-color: gainsboro;">
                        </td>
                    </tr>
                </table>
            </form>
            {% else %}
            <div class="alert alert-danger">
                <strong>Произошла ошибка во время получения данных об отделениях!</strong>
                <p>Попробуйте снова</p>
            </div>
            {% endif %}
            {% endif %}
            {% if assign_response %}
            <div class="alert alert-success">
                <strong>Назначен лечащий врач: {{ assign_response['attending_doctor'] }}. Палата &#8470; {{ assign_response['chamber'] }}</strong>
            </div>
            {% elif has_response %}
            <div class="alert alert-warning">
                <strong>Произошла ошибка во время прикрепления к отделению</strong>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
