{% extends 'menu.j2' %}
{%block title%}
Пациенты
{%endblock%}

{%block styles%}
    {{ super() }}
    <link href="{{ url_for('.static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/table.css') }}" rel="stylesheet">
{%endblock%}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='img/icon.png') }}">
{%endblock%}

{%block navbar %}
{{ navlink('.list_patients', 'Распределение пациентов') }}
{{ navlink('.add_new_patient', 'Внести пациентв') }}
{{ navlink('.list_dischargable', 'Выписка пациентов') }}
{{ navlink('.department_report', 'Отчет') }}
{%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-info" style="margin-top: 30%;">
                <h1>Раздел регистратуры</h1>
                <p>Выберите раздел для работы из меню выше</p>
                <p>
                    В данном разделе производятся основные действия по приемке
                    и распредению пациентов госпиталя. Изначально необходимо заполнить основные
                    данные о новом пациенте, такие как ФИО, дата рождения, симптомы.
                    Затем пациентов распределяют по отделениям. Необходимо выбрать отделение
                    на основании диагноза. Система подберет подходящих врача и палату самостоятельно.
                    <br>
                    Когда врач убедится в том, что пациент прошел курс лечения и может покинуть
                    госпиталь, он отметит его соответствующим образом. Готовых к выписке пациентов можно
                    найти в соответствующем разделе.
                    <br>
                    Если будут возникать вопросы о состоянии отделения,
                    данные по ним расположены в разделе меню выше.
                </p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{%endblock%}