{% extends 'patient_menu.j2' %}

{%block content%}

<div class="container" id="body">
    <div class="row" style="margin-top: 20px;">
        <div>
            <h1>Произвести выписку из госпиталя</h1>
            <p>Для того, чтобы выписать пациента из госпиталя, нажмите на соответствующую кнопку. 
                В качестве даты выписки будет выбрано сегодня.</p>
        </div>
    </div>
    <div class="row">
        {% if with_diag %}
        <table class="table">
            <thead>
                <tr>
                    <th>&#8470;</th>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>Город</th>
                    <th>Дата обращения</th>
                    <th>Симптомы, жалобы</th>
                    <th>Окончательный диагноз</th>
                    <th>ФИО лечащего врача</th>
                    <th>Палата</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for patient in with_diag %}
                <tr>
                    <td>{{ patient['num'] }}</td>
                    <td>{{ patient['name'] }}</td>
                    <td>{{ patient['birth_date'] }}</td>
                    <td>{{ patient['city'] }}</td>
                    <td>{{ patient['income_date'] }}</td>
                    <td>{{ patient['income_diag'] }}</td>
                    <td>{{ patient['outcome_diag'] }}</td>
                    <td>{{ patient['attending_doctor'] }}</td>
                    <td>{{ patient['chamber'] }}</td>
                    <td>
                        <form action="" class="form" method="post">
                            <input type="hidden" name="to_remove_id" value="{{patient['id']}}">
                            <input type="hidden" name="attending_doctor" value="{{patient['attending_doctor']}}">
                            <input type="hidden" name="occupied_chamber" value="{{patient['chamber']}}">
                            <input type="submit" value="Выписать" class="form-control" style="background-color: gainsboro;">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">
            <h2>В данный момент нет пациентов, готовых к выписке!</h2>
        </div>
        {% endif %}
    </div>
    {% if show_alert %}
    <div class="row">
        <div class="alert alert-success">
            <strong>Пациент был успешно выписан!</strong>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
