{% extends 'menu.j2' %}

{%block title%}
Hospital
{%endblock%}

{%block styles%}
    {{ super() }}
    <link href="{{ url_for('patients_bp.static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('patients_bp.static', filename='css/table.css') }}" rel="stylesheet">
{%endblock%}

{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('patients_bp.static', filename='img/icon.png') }}">
{%endblock%}

{%block content%}

<div class="container" id="body">
    <div class="row">
        <div class="col-md 12">
            {% if patients %}
            <h1>Patients</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>&#8470;</th>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>City</th>
                        <th>Income Date</th>
                        <th>Outcome Date</th>
                        <th>Initial diag</th>
                        <th>Outcome diag</th>
                        <th>Chamber &#8470;</th>
                        <th>Attending doctor</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                {% if patient['active'] %}
                    <tr class="active">
                        <td>{{patient['num']}}</td>
                        <td>{{patient['name']}}</td>
                        <td>{{patient['birth_date']}}</td>
                        <td>{{patient['city']}}</td>
                        <td>{{patient['income_date']}}</td>
                        <td>{{patient['outcome_date']}}</td>
                        <td>{{patient['income_diag']}}</td>
                        <td>{{patient['outcome_diag']}}</td>
                        <td>{{patient['chamber']}}</td>
                        <td>{{patient['doctor']}}</td>
                        <td>
                            <form action="" method="post">
                                <input type="hidden" name="patient_id" value="{{patient['id']}}">
                                <input type="submit" value="Discharge">
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr class="alert alert-warning">
                        <td>{{patient['num']}}</td>
                        <td>{{patient['name']}}</td>
                        <td>{{patient['birth_date']}}</td>
                        <td>{{patient['city']}}</td>
                        <td>{{patient['income_date']}}</td>
                        <td>{{patient['outcome_date']}}</td>
                        <td>{{patient['income_diag']}}</td>
                        <td>{{patient['outcome_diag']}}</td>
                        <td>{{patient['chamber']}}</td>
                        <td>{{patient['doctor']}}</td>
                        <td></td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
            {% if chambers_full %}
            <div class="alert alert-danger">
                <strong>Accomodation inavaliable:</strong>
                chambers are filled entirely!
            </div>
            {% else %}
            <div>
                <h1>Create new patient record:</h1>
            </div>
            <form class="form" action="{{ url_for('patients_bp.add_new_patient') }}" method="post">
                <div class="form-group">
                    <input type="hidden" class="form-control" name="chamber" value="{{ optimal_chamber }}">
                    <label style="font-weight: bold;" for="birthday" class="control-label col-sm-2">Date of birth:</label>
                    <input type="date" class="form-control col-sm-10" name="date_birth" id="birthday" required>
                    <label style="font-weight: bold;" for="city" class="control-label col-sm-2">City:</label>
                    <input type="text" class="form-control col-sm-10" name="city" id="city" placeholder="Enter city name here" required>
                </div>
                <div class="form-group">
                    <label for="passport" class="control-label col-sm-2">Passport</label>
                    <input type="text" name="passport" id="passport" class="form-control" placeholder="XX-XX-XXXX">
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" for="first_name" class="control-label col-sm-2">First name:</label>
                    <input type="text" class="form-control col-sm-6" name="first_name" id="first_name" placeholder="Write here" required>
                    <label style="font-weight: bold;" for="second_name" class="control-label col-sm-2">Second name:</label>
                    <input type="text" class="form-control col-sm-6" name="second_name" id="second_name" placeholder="Write here" required>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;" for="doctor" class="control-label col-sm-2">Assign to doctor:</label>
                    <select class="form-control" name="attending_doctor" id="doctor">
                    {% for doctor in doctors %}
                        <option value="{{ doctor['id'] }}">{{ doctor['name'] }}</option>
                    {% endfor %}
                    </select>
                    <label for="submit"></label>
                    <input type="submit" class="form-control" id="submit" placeholder="Add new patient">
                </div>
            </form>
            {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <a href="{{ url_for('hospital_bp.menu') }}">Go back</a>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <a href="{{ url_for('welcome_page') }}">Go to the main menu</a>
        </div>
    </div>
</div>

{% endblock %}
