{% extends 'patient_menu.j2' %}

{%block content%}

<div class="container" id="body">
    <div class="row" style="margin-top: 20px;">
        <div>
            <h1>Внести пациента в систему</h1>
            <p>Для того, чтобы создать новую запись для пациента, пожалуйста, заполните поля ниже. <br>
                Дата и место рождения пациента, а также его ФИО - это обязательные поля.
                Данные паспорта и симптомы (начальный диагноз) являются опциональными полями.</p>
        </div>
        <form class="form" action="" method="post">
            <div class="form-group">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="initial_diagnosis" id="initial_diagnosis" placeholder="Симптомы, диагноз">
                        </td>
                    </tr>
                </table>
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <input type="date" class="form-control col-sm-10" name="date_birth" required>
                        </td>
                        <td>
                            <input type="text" class="form-control col-sm-10" name="city" id="city" placeholder="Город" required>
                        </td>
                        <td>                                
                            <input type="password" name="passport" id="passport" class="form-control" placeholder="Паспорт: XX-XX-XXXX">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control col-sm-6" name="first_name" id="first_name" placeholder="Имя" required>
                        </td>
                        <td>
                            <input type="text" class="form-control col-sm-6" name="second_name" id="second_name" placeholder="Фамилия" required>
                        </td>
                        <td>                                    
                            <input type="submit" class="form-control" id="submit" value="Добавить пациента" style="background-color: gainsboro;">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        {% if status %}
        <div class="row">
            {% if success %}
            <div class="alert alert-success">
                <strong>Пациент был успешно добавлен в систему!</strong>
            </div>
            {% else %}
            <div class="alert alert-danger">
                <strong>Во время добавления произошла ошибка, проверьте правильность введенных данных</strong>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
