{% extends "app_layout.html" %}
{% block styles %}
        <link href="{{ url_for('courses_bp.static', filename='css/home.css') }}" rel="stylesheet">
{% endblock styles %}
{% block body %}
<div class="flex-container">
    <h1><b>Create new service!</b></h1>
    <p>Fill the form below and click "Add"</p>
    <form action="" method="post">
        <input type="text" name="title" placeholder="Service title" required>
        <input type="text" name="language" placeholder="Language" required>
        <input type="checkbox" name="tutor"> <label for="tutor">With tutor?</label>
        <input type="number" name="price" placeholder="Price" min="0" max="100000" required>
        <input type="submit" value="Add">
    </form>
{% if show_redirect %}
    <p>Go <a href="{{ url_for('courses_bp.list_services') }}">back to the service list</a></p>
{% endif %}
</div>
{% endblock %}
