{% extends "app_layout.html" %}
{% block title %}
See you space cowboy
{% endblock %}
{% block body %}
<div class="flex-container">
    <h1>Thank you for visiting our website!</h1>
    <p>See you space cowboy</p>
    <a href="{{ url_for('welcome_page') }}">Warp to the main menu</a>
</div>
{% endblock %}
