{% extends "app_layout.html" %}
{% block title %}
Permission denied
{% endblock %}
{%block icon%}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/login.png') }}">
{%endblock%}
{% block body %}
<div class="flex-container">
    <h2 class="error">You do not have rights to see contents of this page</h2>
    <p>Click <a href="{{ url_for('auth_bp.login') }}">here</a> to warp to the login page</p>
</div>
{% endblock body %}
